<!DOCTYPE html>
<html>
<head>
	<title>Integrantes Equipo Docente</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Profesores de Cátedra</h1>
	<h3>Ángel Jiménez Molina</h3>
	<h3>Iván Díaz Campos</h3>
	<h1>Profesores Auxiliares</h1>
	<h3>Macarena Osorio</h3>
	<h3>José Canto</h3>
	<h3>Jorge Pinto</h3>
	<h3>Javiera Ovalle</h3>
	<h1>Ayudantes</h1>
	<h3>Carlos Vega</h3>
	<h3>Catalina Martin</h3>
	<h3>Eduardo Valerio</h3>
	<h3>Juan Gutiérrez</h3>
	<h3>Matías Rojas</h3>
	<h3>Nicolás Villa</h3>
	<h3>Sebastían Donoso</h3>
	<h3>Sofía Herrera</h3>
	<h3>Victoria Arce</h3>

	<a href="{% url 'seleccion' %}">Nombre integrantes Selección Femenina de Chile</a>
	<br>
	<a href="{% url 'index' %}">Menú principal</a>

</body>
</html>