<!DOCTYPE html>
<html>
<head>
	<title>Selección Femenina de Fútbol</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Sub-20</h1>
	<h3>Christiane Endler</h3>
	<h3>Natalia Campos</h3>
	<h3>Ryann Torrero</h3>
	<h3>Javiera Toro</h3>
	<h3>Valentina Díaz</h3>
	<h3>Rocío Soto</h3>
	<h3>Carla Guerrero</h3>
	<h3>Fernanda Pinilla</h3>
	<h3>Su Helen Galaz</h3>
	<h3>Camila Sáez</h3>
	<h3>Elisa Durán</h3>
	<h3>Francisca Lara</h3>
	<h3>Claudia Soto</h3>
	<h3>Karen Araya</h3>
	<h3>Yessenia López</h3>
	<h3>Daniela Pardo</h3>
	<h3>Rosario Balmaceda</h3>
	<h3>María José Rojas</h3>
	<h3>Yanara Aedo</h3>
	<h3>Javiera Grez</h3>
	<h3>Yessenia Huenteo</h3>
	<h3>María José Urrutia</h3>
	<h3>Daniela Zamora</h3>

	<a href="{% url 'equipodocente' %}">Nombre integrantes Equipo Docente</a>
	<br>
	<a href="{% url 'index' %}">Menú principal</a>


</body>
</html>